<a href="https://colab.research.google.com/github/wintera71/BEACO2N-Modules/blob/main/Lesson%201%3A%20Introduction%20to%20Colab%20and%20Python/EXPLORATION_Introduction_to_Colab_and_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BEACO2N Notebook 1b: Introduction to Colab and Python**

Notebook developed by: *Skye Pickett, Alec Morgan, Lan Dinh, Su Min Park, Amy Castillo*

### Learning Outcomes
Working through this notebook, you will learn about:
1. Using math expressions, strings, and variables
4. How to work around errors
5. Addtional Python fundamentals: Lists (optional), functions, modules, dot notation


## Table of Contents
1. Student Exploration Notebook
1. Variable Practice
1. Lists
1. Functions
1. Modules
> 5.1 Importing Modules
<br> 5.2 Dot Notation
<br> 5.3 *Optional*: Random numbers and Sampling
1. Notebooks in Practice *(Optional Read*)
1. Conclusion

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

##1. Student Exploration Notebook
Welcome to the Student Exploration notebook for Introduction to Colab and Python! In this notebook, we will pick up where we left off in *In Class: Introduction to Colab and Python*. It may be helpful to have the *In Class* notebook open to reference. This notebook will build upon the concepts you learned in the last notebook and give you the opportunity to practice! Take your time working through this and ask any questions you have, as future notebooks will require you to have the skills from this notebook down!

***
##2. Variable Practice

If you took a break or don't remember what you've learned about variables and assignment statements, refer to the *In Class* notebook for an in-depth explanation. When you're ready, let's practice with examples!

#### Example 1: Seconds in a Year
Let's say we want to find out how many seconds are in a year. We could calculate it raw as following, based on 60 seconds per minute, 60 minutes per hour, 24 hours per day, and 365 days per year: $$60 \cdot 60 \cdot 24 \cdot 365$$ However, someone reading this may not understand it, and we might want to use this information for further calculations. Let's see how we can do this calculation using variables! **Read through the assignment statements and run the cell to find the number of seconds per year!**
>***Note:*** *The green text in the code cell below that follows a `#` is called a **comment**. This is an easy way to annotate code as we can read what it means, but Python ignores anything that follows `#` (ie, Python doesn't try to interpret `# The days in a year` as part of the code statement). Comments are often used for instructional purposes and in industry to improve clarity in code!*

In [ ]:
days = 365 # The days in a year
hours = 24 # The hours in a day
minutes = 60 # The minutes in an hour
seconds = 60 # The seconds in a minute
seconds_per_year = days * hours * minutes * seconds # The seconds in one year
seconds_per_year

31536000

This method is easier to understand, and we can use our new variable `seconds_per_year` to answer other questions! Lets say we wanted to find the **number of seconds** in half a year, $7$ years, $234$ years, or even $3.1415$ years as follows! Focus on the second half of each of the lines below, where it says `seconds_per_year * 1/2` and the like. Notice that we're using operations to manipulate the variable to find answers to new related questions.

In [ ]:
print("Seconds in half a year:", seconds_per_year * 1/2) # seconds per year multiplied by 1/2
print("Seconds in seven years:", seconds_per_year * 7) # seconds per year multiplied by 7
print("Seconds in two hundred and thirty-four years:", seconds_per_year * 234) # seconds per year multiplied by 234
print("Seconds in 3.1415 years:", seconds_per_year * 3.1415) # seconds per year multiplied by 3.1415

Seconds in half a year: 15768000.0
Seconds in seven years: 220752000
Seconds in two hundred and thirty-four years: 7379424000
Seconds in 3.1415 years: 99070344.0

As you can see, we don't need to re-do the problem four times to get all the results, we just need to use the result we already calculated! (Cool, right?)

**Your turn: Q1** <br>
**In the cell below, compute the number of seconds in the number of years you've been alive! Check your answer below.**
>*Hint:* Your code cell should look like `seconds_per_year * <your_age>` and will print the number of seconds when run.

In [ ]:
## Put your code in this cell!

Find your age below to check your answer...<br>
*   Age 14: 441504000
*   Age 15: 473040000
*   Age 16: 504576000
*   Age 17: 536112000
*   Age 18: 567648000

#### Example 2: Equation of a Line
If you need an algebra refresher, for reference, the equation of a line is $$y = mx + b$$ We can use variables to easily calculate the $y$ for any $x$, and we can set $m$ (the slope) and $b$ (the y-intercept).

*Try changing the x value to see how the output changes!*

In [ ]:
m = 1 # The slope
b = 5 # The intercept
x = 4 # Try changing this value to see how the output changes!
y = m * x + b
y

9

In [ ]:
## Run this cell also! This print statement will summarize what you calculated above.
print(f"On the line y = {m}x + {b}, at x = {x}, y is equal to {y}.")

On the line y = 1x + 5, at x = 4, y is equal to 9.

***
## 3. Lists
Variable values may be more sophisticated than just numbers/expressions! We can store multiple numbers under a single name if we make the value a list. The following cell stores 3 numbers in a list: **Remember to run it! :)**

In [ ]:
number_list = [4,9,16]
number_list

[4, 9, 16]

Lists can actually contain any value in Python! Check out the cell below that contains numbers, strings, and variables separated by commas.

In [ ]:
weird_list = ["Hello", 3.14, 200, x, "Goodbye"]
weird_list

['Hello', 3.14, 200, 4, 'Goodbye']

We can also start a list off as empty and add things to it later, as seen below. Run the cells in order.

In [ ]:
empty = []
empty

[]

In [ ]:
empty = empty + [1]
empty

[1]

In [ ]:
empty = empty + [2]
empty

[1, 2]

Notice how in each of the cells above the variable `empty` updates to represent a new value each time there is an **assignment statement** (`empty = ...`).

You can also add values to a list or even take them out! This can be useful when you want to do a lot of calculations and keep them under one variable. See the following example for one such reson why lists are helpful. **The below example is advanced/optional**, meaning you can read it over but we don't expect you to be able to do this yourself or fully understand it yet! In this example, we add another element to the list, which is the sum of all of the numbers in the list already.

In [ ]:
running_totals = [1]
running_totals = running_totals + [sum(running_totals)]
running_totals = running_totals + [sum(running_totals)]
running_totals = running_totals + [sum(running_totals)]
running_totals = running_totals + [sum(running_totals)]
running_totals = running_totals + [sum(running_totals)]
running_totals = running_totals + [sum(running_totals)]
running_totals

[1, 1, 2, 4, 8, 16, 32]

**Your turn: Q2**
<br> In the cell below, we defined a list called `alphabet` that contains 3 strings, "a", "b", and "c". <br>**In the cell that says `# Your code here`, write code to add a 4th item to the list, "d". Make sure that the item you're adding is a *string* ("d" is a string, but `d` without the quotation marks is a variable name).**
>*Hints: <br>- Use the `empty` example above for some hints!<br> - If you get a NameError, you forgot to make "d" a string! <br> - If you accidentally add something you don't want and want to go back to `alphabet` being ["a", "b", "c"], run the cell right below this to assign `alphabet` to the initial list provided.*

In [ ]:
alphabet = ["a", "b", "c"]
alphabet

['a', 'b', 'c']

In [ ]:
# Your code here
# Replace the ... with your code
alphabet = ...

In [ ]:
## Ignore this code but RUN THIS CELL
# This will check if your answer is correct!
if alphabet == ["a", "b", "c", "d"]:
  print("Woohoo! Correct.")
  print("alphabet is equal to", alphabet)
elif alphabet == ["a", "b", "c"]:
  print("Incorrect: alphabet hasn't been modified")
  print("alphabet is equal to", alphabet)
else:
  print("Incorrect.")
  print("alphabet is equal to", alphabet)

Incorrect: alphabet hasn't been modified
alphabet is equal to ['a', 'b', 'c']

***
##4. Functions
We've seen that values can have names (often called **variables**), but operations may also have names. A named operation is called a **function**. Python has some functions built into it. **Remember to run each of the code cells!** *Get into a habit of this and remember there's no harm in running text cells too so feel free to always run cells as you go down the page.*

In [ ]:
round # A built-in function

If you put the name of a function followed by a question mark (?) in a code cell and run, you can see some documentation on the function in a pop-up tab, indicating what it's supposed to do!

In [ ]:
round?

Did you read the popup tab that the **`round?`** code produced? Now do you get what the `round` function does? Feel free to click the x in the corner of the pop-up tab when you're done reading it.

Functions get used in **call expressions**, which is where a function is named and given values to operate on inside a set of parentheses. The `round` function returns the number it was given, rounded to the nearest whole number.

*This concept is basically the same as mathematical expressions!*

In [ ]:
round(1988.74699) # A call expression using round

1989

A function may also be called on more than one value (these are called *arguments*). For instance, the `min` function takes however many arguments you'd like and returns the minimum of them. Multiple arguments are always separated by commas, just like in lists.

In [ ]:
min(9, -34, 0, 99)

-34

### Practice

<div class="alert alert-block alert-warning">
<ul>
    <li>The <code>abs</code> function takes one argument (just like <code>round</code>)</li>
    <li>The <code>max</code> function takes one or more arguments (just like <code>min</code>)</li>
</ul>


Try calling <code>abs</code> and <code>max</code> in the cell below. What does each function do?

Also try calling each function <i>incorrectly</i>, such as with the wrong number of arguments. What kinds of error messages do you see?

If you're confused, reference what we just did with round and min -- the format is the same!
</div>

In [ ]:
... # Replace the ... with calls to abs function

Ellipsis

In [ ]:
... # Replace the ... with calls to max function

Ellipsis

***
## 5. Modules

Now that we've covered our bases with regards to the platform we'll be working on for this assignment, let's load some **modules** we need to explore the data we are working with.

### 5.1 Importing Modules

Python **modules** are folders that contain collections of Python code to help us use tools that are not otherwise available. These can include visualization modules such as `matplotlib` or numerical tools like `numpy`. You can see how we load these modules below: **Run the cell below. We've added a print statement in the cell, so you'll know it's done when "Done!" is printed out below!**

In [ ]:
import matplotlib.pyplot as plt # This loads tools from the matplotlib module
%matplotlib inline
plt.style.use("fivethirtyeight")
import numpy as np # Loads numerical methods
import math, random # Loads math and random functions
import seaborn as sns, plotly.express as px # Loads plotting tools
print("Done!")

Done!

For your reference, we'll break down one line of the large cell above. In this line:

```python
import numpy as np
```

We import the numpy module. Essentially, we're telling Python (the coding language) that we want to use a specific set of functions that has been named "`numpy`". We then use the `as` keyword to specify that we want to use some other name to refer to "`numpy`"; in this context we told python we want to call it "`np`".

Lets say we want to use the `numpy.mean` function (this takes the mean of a list of numbers). Because we imported "`numpy`" as "`np`", we could now also say `np.mean()` to call the `mean` function. (We could also still say `numpy.mean()`.)

Note: We name `numpy` as "`np`" because it is the standard name in the industry, however we could also have said:

```python
import numpy as harrystyles
```
Which would've allowed us to run `harrystyles.mean()`. However, this would be confusing for a reader, so it's considered best practice to use standard names such as "`np`" for "`numpy`", so that different people can all read your work and not be confused as to what function you are using or what module it came from.

The cell below runs what we just talked about. Feel free to play around and try things out!

In [ ]:
import numpy as harrystyles
print("Harry Styles is NumPy?", harrystyles == np) ## No need to understand this line
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print("Harry Styles' mean of", numbers, ":", harrystyles.mean(numbers)) ## No need to understand this -- just read harrystyles.mean(numbers)

# This line deletes the silly import of `harrystyles` that we just made
del harrystyles

Harry Styles is NumPy? True
Harry Styles' mean of [1, 2, 3, 4, 5, 6, 7, 8] : 4.5

We got rid of calling the "numpy" package "harrystyles" (phew!). So let's call it `np` like is conventional again. Run the cell below.

In [ ]:
import numpy as np

Usually these import statements are at the top/beginning of notebooks because we want the tools to be imported to use for the rest. If you ever are coming across an error that says "np isn't defined" or some other package isn't defined, make sure that you *ran* the cell with the import statments. In the future notebooks, these will be at the top!

### 5.2 Dot Notation
Python has a lot of [built-in functions](https://docs.python.org/3/library/functions.html) (that is, functions that are already named and defined in Python), but even more functions are stored the module packages that we just discussed and imported. Earlier, we imported the `math` module so we could use it later. Once a module is imported, you can use its functions by typing the name of the module, then the name of the function you want from it, separated with a `.`.

Run these cells below to see what these mathematical functions/constant in `math` module output!

In [ ]:
math.pow(2, 3) # A call expression with the power function, pow(x,y), where it returns x raised to the power y.

8.0

In [ ]:
math.ceil(4.2) # A call expression that returns the smallest integer GREATER than or equal to the input.

5

*Modules* can be more than just functions sometimes! For instance, the `math` module provides us with *mathematical constants* to make our lives easier.

In [ ]:
math.pi # A call expression of the ratio of the circumference of a circle to its diameter, pi (3.14159...), from the math module.

3.141592653589793

As you can see from the examples above, many math operations can take in a single input or multiple inputs, and these inputs don't always have to be integers or floats (numbers with decimals). Math operations can be applied to lists too!

### Practice
Let's save `y` as the list [4, 9, 16] below.  Then, let's apply the built-in function `max()` to find the maximum of the list `y`. Assign the maximum to the variable called `max_of_y`. Then, let's find the square root of `max_of_y`. Assign this value to `sqrt_of_max`.


>*Hint:*<br>- `math` also has a function called `sqrt` that takes one argument and returns the square root. Remember to put `math.sqrt(__)` not just `sqrt(___)`. <br> - Once you've put in an expression next to `max_of_y`, use that value for the next line. Specifically, put `max_of_y` in the parentheses of your square root call function instead of typing in a number.

**Your turn: Q3**<br>
**What is the square root of the maximum of y? *Break it down step by step as explained above*.**

In [ ]:
y  = ... # Replace the ... with the list of numbers(in question description)
max_of_y = ... # Replace ... to an assignment of the maximum number of y using function max(__)
sqrt_of_max = ... # Replace ... to an expression that outputs the square root of maximum number of y (max_of_y)
sqrt_of_max

Ellipsis

Your answer should be **4.0**.


###5.3 *Optional*: Random Numbers and Sampling
Random sampling plays a key role in data science. The random module implements functions for random sampling and random number generation. For example, the cell below generates a random integer between 1 and 50.

Note that any whole number between 1 and 50 has an equal probability of being selected --- the sampling probabilities are uniform.

Try running this cell multiple times by holding `Command (mac)/Control (windows)` and pressing `Enter` repeatedly (or just run it multiple times!); notice how the output changes even though the code stays the same.

In [ ]:
random.randint(1,50)

19

***
##6. Notebooks in Practice *(Optional Read)*

With proprietary software like *Mathematica*, users are supposed to trust the results returned and are unable to check the code. In contrast, *Jupyter* fosters **transparency** and hence encourages **reproducibility**, which refers to the ability to reproduce the results of a scientific study. Not only is the code behind the software available for anyone to inspect or tinker with, but code in the notebooks can also be examined or re-run to reproduce the results.

[Theodore Gray](http://home.theodoregray.com/), the co-founder of [Wolfram Research](https://en.wikipedia.org/wiki/Wolfram_Research) who was also involved in creating the *Mathematica* interface, said about *Jupyter*,
>"*I think what they have is **acceptance from the scientific community** as a tool that is considered to be **universal**.*"

In other words, *Jupyter Notebooks* support the computational work of researchers from different fields, from astronomy to psychology to literature, and therefore enable new ways for researchers in very different domains to **share research tools, methods, and learn from one another**.

The power of the notebook lies in its ability to include a **variety of media** with the computation as a means to maintain **accountability, integrity, and transparency** for both the author of the notebook and the audiences that you share your work with.

***
##7. Conclusion

In this notebook, you've learned quite a bit. Below is a summary of the topics we have covered in *Introduction to Colab and Python*:
- Colab Notebooks
    - History of Jupyter
    - Structure of a notebook
    - Editing a notebook
- Python
    - Math
    - Strings
    - Errors
    - Variables
    - Lists (Optional)
    - Functions
    - Modules
    - Dot Notation

#### You've finished the **Introduction to Colab and Python *Student Exploration* notebook**. Good job! Congratulations on finishing the **Introduction to Colab and Python** lesson!

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">