<a href="https://colab.research.google.com/github/wintera71/BEACO2N-Modules/blob/main/Lesson%201%3A%20Introduction%20to%20Colab%20and%20Python/IN_CLASS_Introduction_to_Colab_and_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BEACO2N Notebook 1a: Introduction to Colab and Python**

Notebook developed by: *Skye Pickett, Alec Morgan, Lan Dinh, Su Min Park, Amy Castillo*

### Learning Outcomes
Working through this notebook, you will learn about:
1. The history behind Jupyter notebooks and why they are used in computing
2. How a Notebook is structured and how to use and edit them
3. Python fundamentals: Math expression, strings, variables
4. How to interpret and deal with errors


## Table of Contents
1. Welcome to Colab
 >1.1 What is a Notebook?
<br>1.2 A Brief History
<br> 1.3 Why (Jupyter) Notebooks?
1. Notebook Structure
>2.1 Cell Types
<br>2.2 *Optional*: Manipulating Cells
1. Python Basics
>3.1 Math
<br> 3.2 Strings
<br> 3.3 Errors
<br> 3.4 Variables

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">


## 1. Welcome to Colab

Welcome to Colab! Google Colab, or Colaboratory is a product from Google Research. Colab allows anybody to write and execute Python code through a browser, and is especially well suited to machine learning, data analysis, and education. More technically, Colab is a hosted **Jupyter Notebook** service, meaning you can run your notebook online with no setup and access free computing resources.

###1.1 What is a Notebook?
Notebooks are documents where you can combine code with text, visualizations, and more.

Notebooks make it easy to explore ideas because you can write code, run it, see what happens, and then quickly change the code if you want to try something new. This makes them especially useful for learning, experimenting with data, and sharing results.

In science today, researchers often work with huge amounts of data and complex models. Their work can be hard to understand when it is only explained in a traditional paper full of technical terms. A notebook can show not just the final results, but also the steps and code used to get there—so others can understand it and even try it themselves.

Because **Google Colab** is built on top of **Jupyter Notebook**, we will learn more about its history and why notebooks are used in computing.

*Note: In this notebook, there are some more advanced topics that are "optional". This means you can just read over these sections; don't worry about fully understanding these parts unless you are really interested. They may be useful later in the course, but for now they are not necessary, so feel free to just skim the parts labelled "Optional"!*

### 1.2 A Brief History
The Jupyter Notebook is an _interactive computational environment_ that supports over **40** different programming languages, but was first released as a web-based interface for IPython in 2011. [Fernando Perez](https://bids.berkeley.edu/people/fernando-p%C3%A9rez), a professor in the Statistics department here at UC Berkeley, created [IPython](https://ipython.org/) as a graduate student in 2001 and co-founded [Project Jupyter](https://bids.berkeley.edu/research/project-jupyter) in 2014.

Project Jupyter's name is a reference to the three core programming languages supported by Jupyter, which are `Julia`, `Python` and `R` (`"ju"` from `"Julia"`, `"pyt"` from `"Python"`, and `"er"` from `"R"`; all together you get `"ju" + "pyt" + "er" = "jupyter"`).

The word notebook is an homage to Galileo's notebooks in which he documents his discovery of the the moons of Jupiter (the planet).

Though the Jupyter Notebook interface has been around only about a decade, the first notebook interface, [Mathematica](https://www.mathematica.org/), was released over 30 years ago in 1988. Other notebook interfaces have been released since then, but none have gained as much traction as Jupyter Notebooks have. Starting in the early 2000s, open-source scientific tools were becoming more and more popular and with the widespread popularity of Jupyter, it's well on its way to becoming a standard for sharing research methodology and results.

###1.3 Why (Jupyter) Notebooks?
Jupyter Notebooks follow the idea of *literate programming*—writing code alongside explanations in plain language. This makes programs easier to understand by showing both what the code does and why it does it.

Notebooks let you combine code, text, graphs, equations, and media in one place—like a science lab notebook, but for computing. They’re used by researchers to analyze data while explaining their methods, and by educators to help students explore, experiment, and learn programming in an interactive, guided way.

***
## 2. Notebook Structure

### 2.1 Cell Types
A notebook is composed of rectangular sections called **cells**. There are 2 kinds of cells: text and code.
- A **text cell**, such as this one, contains text.
- A **code cell** contains code in *Python*, a programming language that we will be using in this class. You can select any cell by clicking it once.
    - Code cells can also contain code in other languages like R, which can also be used in data analysis.

#### Text cells
This is a **text cell**. You can **double-click** to edit this cell. Try typing something in here!

#### Code cells
Below this (`a = 10`) is a **code cell**. Click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the code cell;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists)

There are additional options for running some or all cells in the **Runtime** menu. *If there is any error produced or nothing is happening, your page is likely not connected -- click `Connect` on the right side of the toolbar under "Share".*

**Run the cell below!** It will print out 10 right below the cell.

In [ ]:
a = 10
a

10

###2.2 *Optional*: Manipulating Cells

You can add new **text cells** or **code cell** by using the **`+ CODE`** and **`+ TEXT`** buttons that show when you hover between cells. These buttons are also in the toolbar above the notebook where they can be used to add a cell below the currently selected cell.

You can delete the cells you created by simply clicking on the trash can icon showing up at the top right of the cell. But don't worry if you erase the cell by accident! This can be undone using `Edit` > `Undo Delete Cells`!



In this lab notebook or following notebooks, you won't necessarily have to make your own new cells since we will be providing a clear direction where to input your answer!

***
##3.  Python Basics
[**Python**](https://www.python.org/) is a programming language – a way for us to communicate with the computer and give it instructions.

Just like any language, Python has a set vocabulary made up of words it can understand, and a syntax which provides the rules for how to structure our commands and give instructions.

###3.1 Math
Python is a great language for math, as it is easy to understand, and looks very similar to what it would look like in a regular scientific calculator!

- `+` Acts as the addition operator
- `-` Acts as the subtraction operator and can also act as a negative sign if next to a number (e.g., `-2` vs `- 2`)
- `*` Acts as the multiplication operator
- `**` Acts as the exponentiation operator
- `/` Acts as the division operator
- `()` Acts as the grouping operator

There are two types of numbers in python: Integers, also known as **`int`**, (e.g., `4`, `7`, `15`, `2354`) and decimal numbers, aka **`float`** (e.g., `13.0`, `14.5`, `2.731`, `3.1415`).

When using the `/` operator, even if the result is a whole number, the result will be a `float`. For example, `10 / 5` is `2.0`, not `2`.

> There are other, more advanced operators such as [floor division](https://www.pythontutorial.net/advanced-python/python-floor-division/) and [modulo](https://realpython.com/python-modulo-operator/), however, we won't be using those for the time being. Feel free to explore if you'd like, but this is very out of scope for this material.

Let's look at some examples of using these operators. As usual, feel free to play around with these cells or even add new ones to explore how these operations work! **Run the cells below. Try editing the math expressions to see how it works!**

In [ ]:
1 + 3 # An example of addition

4

In [ ]:
1 + 3 - 4 + 5 # An example of addition and subtraction

5

In [ ]:
1 + 10 / 2 + 7 # An example of addition and division

13.0

In [ ]:
3 * 4 # An example of multiplication

12

In [ ]:
5 ** 2 # An example of exponentiation

25

In [ ]:
2 ** 3 # Another example of exponentiation

8

In [ ]:
4 ** .5 # An example of exponentiation with a decimal

2.0

In [ ]:
(6 + 4) * 2 - 15 # By adding parentheses to the equation we can change the order of operations

5

###3.2 Strings
Strings are what we call words or text in Python. A string is surrounded in either single (' ') or double (" ") quotes. Here are some examples of strings

In [ ]:
"This is a string"

'This is a string'

In [ ]:
'This is too'

'This is too'

In [ ]:
"eVeNtHiSiSaStRiNg"

'eVeNtHiSiSaStRiNg'

You can even do math with strings!
<br>*These examples are advanced/optional.*

In [ ]:
'Ha' * 10

'HaHaHaHaHaHaHaHaHaHa'

In [ ]:
"Ha" + " " + "Ha" + "     " + "Ha"

'Ha Ha     Ha'

###3.3 Errors
Errors in programming are common and totally okay! Don't be afraid when you see an error because more likely than not the solution lies in the error code itself! Let's see what an error looks like. **Run the cell below to see the output.**

> **Note:** This should return an Error that says "Syntax Error: incomplete input". <br>*If the below cell doesn't produce anything for you, save your work (CTRL+S or File>Save) then refresh your page!*

In [ ]:
print('This line is missing something.' # We are missing a closing parenthesis here!

SyntaxError: incomplete input (ipython-input-17707628.py, line 1)

The last line of the error output attempts to tell you what went wrong.

The *syntax* of a language is its structure, and this `SyntaxError` tells you that you have created an illegal structure.  

There's a lot of terminology in programming languages, but you don't need to know it all in order to program effectively. If you see a cryptic message like this, you can often get by without deciphering it.  (Of course, if you're frustrated, you can usually find out by searching for the error message online.)

***The cell above will no longer produce an error if you add a closing parenthesis!***

**Try running the cell below and notice the error.**

In [ ]:
ten + 10 # We need to define the variable ten before we can use it!

NameError: name 'ten' is not defined

This is another error you might run into. It is formally called **`NameError`**, but all that means is that Python can't find anything associated with the name (can't find the variable you are referencing), or you made a typo. For more on variables, see the next section!

###3.4 Variables

As we mentioned before, in this Jupyter Notebook you will be assigning data, figures, numbers, text, or other objects to **variables**.

You can even assign graph output or functions to variables, but that is out of scope for this assignment so don't worry about it for now!

Variables are stored in a computer's memory and you can use it over and over again in future calculations.

Sometimes, instead of trying to work with raw information all the time in a long calculation you will want to store it as a **variable** for easy access in future calculations. **Check out how we can use variables to our advantage below!**

<div class="alert alert-block alert-warning">
<b>Note:</b> In Python, variable names must be a combination of letters (capital and/or lowercase), numbers, and underscores ( _ ). <br>Variable names <i>cannot</i> begin with a number.</b>
</div>

- The following are all valid variable names:
    - `pants`, `pan_cakes`, `_`, `_no_fun`, `potato940`, `bowser_32`, `FOO`, `BaR`, `bAr`
    
- These are invalid names:
    - `123`, `1_fun`, `f@ke`, `fun time`, `fun_times!!`, `00f00`

#### Assignment Statements
Here is an example of what we call an _assignment statement_, what we use to create a variable. Here is an example of an assignment statement: **Run the cell!**

In [ ]:
x = 1 + 2 + 3 + 4

*Note: When you run the cell above, it won't print anything out because we only assigned and didn't tell it to print. You'll print in the cell below.*<br>You can read the code from left to right, starting at the `x`. In the code cell above, the `x` is the **variable name** and the equal sign (`=`) assigns it to the **expression** on the right-hand side, `1 + 2 + 3 + 4`. If we evaluate `1 + 2 + 3 + 4` it will equal `10`. So, we can conclude that `x = 1 + 2 + 3 + 4` is equivalent to `x = 10`. If you run the cell below, the output will be `10`!
<br>*If you run the cell below and get a "NameError", that means you didn't run the cell above this one that assigns a value to x first.*

In [ ]:
x # Just run this cell

10

Notice from running these two code cells above that *assignment statement* itself doesn't output the value. **You must run the variable to output its value.**

You can also chain variable assignments (like in any mathematical expression), as follows. In this cell, we use the stored value of `x` (`x = 10` from earlier), so we are really saying `y = (10 + 3 + 10 + 2) * 4`! **Run the cell to see what y is equal to!**

In [ ]:
y = (x + 3 + x + 2) * 4
y

100

***
#### You've finished the **Introduction to Colab and Python *In Class* notebook** and are ready to begin the **Introduction to Colab and Python *Student Exploration* notebook**! Good job!

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">